<h1><%= @movie.id ? 'Edit Movie' : 'Add Movie' %></h1>
<div class="ui form">
<br />
<%= form_for @movie do |f| %>
  <div class="field">
  <%= f.label :genre %>
  <%= f.select :genre, ['Drama', 'Comedy', 'Action'] %>
  </div>
  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
  <%= f.label :duration %>
  <%= f.text_field :duration, required: true %>
  </div>
  <div class="field">
  <%= f.label :description %>
  <%= f.text_field :description, required: true %>
  </div>
  <div class="field">
  <%= f.label :trailer %>
  <p>Please enter the embedded link for the trailer/movie.</p>
  <%= f.text_field :trailer, required: true %>
  </div>
  <hr />
  <br />
  <div class="actions">
  <%= f.submit "Submit", :class => 'ui tiny button' %>
  </div>
  <br />
  <br />
</div>
<% end %>
