<h1><%= @movie.title %></h1>
<h4><%= @movie.duration %></h4>
<h4><%= @movie.genre %></h4>
<iframe src="<%= @movie.trailer %>"></iframe>
<br />
<a href="<%= @movie.description%>" target="_blank">IMDB Profile Page.</a>
<br />
<%= link_to 'Create Comment', new_movie_comment_path(@movie) %>
<ul>
<% @movie.comments.each do |comment| %>
<p><%= comment.body %></p>
<%= link_to 'Show', movie_comment_path(@movie, comment) %>
<% end %>
</ul>
<%= link_to 'Back', movies_path %>


<hr  />
<%= link_to 'Edit Movie', edit_movie_path(@movie) %>
<%= link_to 'Remove Movie', @movie, method: :delete %>
