<h1><%= @movie.title %></h1>
<h4><%= @movie.duration %></h4>
<h4><%= @movie.genre %></h4>
<iframe src="<%= @movie.trailer %>"></iframe>
<br />
<a href="<%= @movie.description%>" target="_blank">IMDB</a>
<br />
<%= link_to 'Create Comment', new_movie_comment_path(@movie) %>
<br />
<% @movie.comments.each do |comment| %>
<%= link_to comment.body, movie_comment_path(@movie, comment) %>
<% end %>
